@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Muli", sans-serif;
}

$backgroundColor: #282b34;
$redColor: #ff1e56;
$yellowColor: #ffac41;
$greyColor: #2d343e;


@media (max-width:1300px) and (min-width:660px) {
  .App{
    display: flex;
    flex-direction: column;
  }
  .App .left {
    order: 1;
    margin-top: 10%;
  }
  .App .right {
   order: 2;
  }
  .incoming {
    width: 400px;
    position: relative;
    top: 20%;
  }
}

@media (max-width:680px) and (min-width:340px) {
  .App{
    display: flex;
    flex-direction: column;
  }
  .App .left {
    order: 1;
    margin-top: 10%;
  }
  .App .right {
   order: 2;
  }
  .incoming {
    width: 300px;
    position: relative;
    top: 10%;
  }
}
