@import "./globals";
.App {
  width: 100%;
  height: 100vh;
  background-image: url("./welcome.gif");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  .right {
    flex: 2;
  }
  .left {
    flex: 1;
  }
}